body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    height: auto;
    padding: 0;
    background-color: #f4f4f4;
}

.sidebar {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #fff;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    z-index: auto;
}

.sidebar .close-btn {
    display: none;
}

.sidebar.open .close-btn {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: #333;
    cursor: pointer;
}

.sidebar .logo {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar .logo img {
    width: 80px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: left;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #ddd;
    color: #333;
}

.sidebar ul li a i {
    margin-right: 10px;
}

.main-content {
    flex: 1;
    margin-left: 220px;
    padding: 20px;
}

.columns {
    display: flex;
    gap: 20px;
}

.news {
    flex: 2;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.side-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.calendar,
.statistics {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.news-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.news-date {
    color: gray;
}

.calendar-event {
    padding: 10px;
    margin: 10px 0;
    background-color: #f4f4f4;
    border-radius: 5px;
}

.calendar-event[data-date='today'] {
    background-color: #cce5ff;
}

.statistics .statistic-item {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.statistics .statistic-item:last-child {
    border-bottom: none;
}

.statistics .statistic-item p {
    margin: 0;
    font-weight: bold;
}

.statistics .statistic-item span {
    float: right;
    font-size: 1.2em;
}

.footer {
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 0.8em;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
    margin-top: auto;
    margin-bottom: 0;
}

.footer-links a {
    color: gray;
    text-decoration: none;
    margin: 0 5px;
}

.news-item {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.news-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.news-description {
    font-size: 12px;
    color: #333;
}

.news-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.news-date {
    color: gray;
    font-size: 12px;
}

.logo-link img {
    width: 50px;
    height: auto;
}

.hamburger-box {
    width: 25px;
    height: 20px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    width: 100%;
    height: 2px;
    background-color: #333;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.3s ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #333;
    position: absolute;
    left: 0;
    transition: transform 0.3s ease;
}

.hamburger-inner::before {
    top: -6px;
}

.hamburger-inner::after {
    bottom: -6px;
}

.hamburger {
    display: none;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
        margin-right: 10px;
    }

    .sidebar {
        width: 100%;
        max-width: 300px;
        position: fixed;
        top: 0;
        left: -300px;
        height: 100%;
        background-color: #fff;
        padding-top: 20px;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        transition: left 0.3s ease;
        z-index: auto;
    }

    .sidebar.open {
        left: 0;
    }

    .main-content {
        margin-left: 0;
        margin-right: 20px;
        padding: 20px;
        margin-top: 60px;
    }

    .columns {
        display: block;
    }

    .news,
    .calendar,
    .statistics {
        width: 100%;
        margin-top: 20px;
        margin-right: 0;
    }


    .news {
        flex: 2;
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .side-column {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .mobile-header {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: auto;
        padding: 10px 20px;
    }

    .mobile-header .hamburger-container {
        display: flex;
        align-items: center;
    }
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.useful-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
}

.info-subtitle {
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.info-subtitle:hover {
    background-color: #e0e0e0;
    color: #333;
}

.info-details {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

.info-details.open {
    max-height: 200px;
}

.info-text {
    padding: 10px;
    font-size: 14px;
    line-height: 1.6;
    color: #333;
}

/* Stilizare generală pentru formular */
form.inline-form {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


form.inline-form h1 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
    width: 100%;
}


form.inline-form .form-content {
    display: flex;
    /*flex-wrap: wrap; */
    justify-content: center;
    width: 100%;
}

form.inline-form .form-content > * {
    margin: 0 5px;
}

form.inline-form label {
    margin-right: 10px;
}

form.inline-form select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

form.inline-form button {
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    display: block;
}

form.inline-form button:hover {
    background-color: #0056b3;
}

.subiecte-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    align-content: center;
}

.search-box {
    margin: 20px 0;
    text-align: center;
}

.search-box form {
    display: inline-block;
}

.search-box input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

.search-box button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.search-box button:hover {
    background-color: #0056b3;
}

.results {
    margin-top: 20px;
}

.results-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.results-table th, .results-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.results-table th {
    background-color: #f2f2f2;
}

.results-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.results-table tr:hover {
    background-color: #ddd;
}

.results-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #007bff;
    color: white;
}